Flask==2.3.2
Jinja2==3.1.4
MarkupSafe==2.1.5
Werkzeug==2.3.6
blinker==1.8.2
certifi==2024.7.4
charset-normalizer==3.3.2
click==8.1.7
cx-Oracle==8.3.0
idna==3.7
itsdangerous==2.2.0
psycopg2-binary==2.9.9
python-dotenv==1.0.1
requests==2.31.0
urllib3==1.26.16
git+https://github.com/bcgov/registry-schemas.git@1.5.3#egg=registry_schemas
git+https://github.com/bcgov/registries-search.git#egg=search_api&subdirectory=search-api
git+https://github.com/daxiom/simple-cloudevent.py.git@0.0.2