// Vuetify Overrides
@import 'theme.scss';

// application
.v-application .orange--text.text--darken-2 {
  color: #f57c00 !important;
  caret-color: #f57c00 !important;
}

// tables
td,
th {
  color: $gray9;
  font-size: 0.875rem;
}
td {
  overflow: hidden;
  text-overflow: ellipsis;
}

// Buttons
.v-btn {
  font-size: 1rem;
  font-weight: normal;
  letter-spacing: normal;
  padding: inherit 28px !important;
  text-transform: none;
  .v-icon + span,
  span + .v-icon {
    margin-left: 0.25rem;
  }
}

.v-btn:before {
  color: inherit;
}

.v-btn.primary {
  background-color: $primary-blue !important;
  color: white !important;
  font-weight: 700;
}

.v-btn.primary.copy-normal {
  font-weight: normal;
}

.v-btn.primary.text,
.v-btn.primary.text::after,
.v-btn.primary.text::before,
.v-btn.primary.text:hover {
  background-color: transparent !important;
  color: $primary-blue !important;
}

.v-btn:not(.v-btn--round).v-size--default {
  height: 44px;
  min-width: 40px;
}

.v-btn:not(.v-btn--round).v-size--large {
  min-width: 88px;
}

.v-btn.outlined {
  color: $primary-blue !important;
  background-color: white !important;
  border: 1px solid $primary-blue !important;
}

.v-btn--outlined, .v-btn--text {
  font-weight: normal;
}

.v-btn__overlay {
  background-color: transparent !important;
}

.v-btn.edit-btn:disabled {
  color: $primary-blue !important;
  opacity: 0.4 !important;
}

.v-btn.v-btn--outlined:disabled {
  color: $primary-blue !important;
  caret-color: $primary-blue !important;
  border: thin solid currentColor;
  opacity: 0.4 !important;
}

.v-application .v-btn.v-btn--outlined.remove-btn:disabled {
  color: $error !important;
  caret-color: $error !important;
  opacity: 0.4 !important;
}

.theme--bcgov.v-btn.v-btn--disabled:not(.v-btn--flat):not(.v-btn--text):not(.v-btn--outlined) {
  background-color: $primary-blue !important;
  opacity: 0.4 !important;
  color: white !important;
}

.theme--bcgov.v-btn.v-btn--disabled .v-icon,
.theme--bcgov.v-btn.v-btn--disabled .v-btn__loading,
.theme--bcgov.v-btn.v-btn--disabled .v-icon,
.theme--bcgov.v-btn.v-btn--disabled .v-btn__loading {
  color: $primary-blue !important;
  opacity: 0.4 !important;
}

// Text Inputs / selects
.v-field--variant-filled .v-field__overlay {
  background-color: $gray1;
  opacity: 1 !important;
}

.v-field .v-label,
.v-field .v-field__outline,
.v-field .v-field__append-inner .v-icon,
.v-text-field .v-input__details .v-messages {
  color: $gray7;
  opacity: 1;
}

.v-field .v-field__field {

  input::placeholder {
    color: $gray7;
    opacity: 1;
  }

  .v-field__input {
    color: $gray9;
  }
}

.v-field.v-field--active:not(.v-field--error) .v-label.v-field-label--floating {
  color: $primary-blue;
  opacity: 1;
}

.v-input:not(.v-select) .v-field--active:not(.v-field--error) .v-field__outline::after,
.v-input.v-select .v-field--focused:not(.v-field--error) .v-field__outline::after,
.v-input:not(.v-select) .v-field--active:not(.v-field--error) .v-field__outline::before,
.v-input.v-select .v-field--focused:not(.v-field--error) .v-field__outline::before {
  border-color: $primary-blue;
  opacity: 1;
}

// Dialogs
.v-dialog {
  margin: 2rem;

  .v-card {
    .v-card__title {
      padding: 1.25rem 1.5rem;
      color: $BCgovFontColorInverted;
      background: $BCgovBlue5;
      font-size: 1.5em;
      font-weight: 400;
    }

    .v-card__text {
      padding: 1.5rem !important;
      font-weight: 300;
    }

    .v-card__actions {
      padding: 1rem;
    }
  }
}

// v-labels / v-messages
.theme--bcgov.v-label:not(.v-label--is-disabled),
.theme--bcgov.v-messages {
  color: $gray7;
}

.folio-edit-txt .v-messages {
  text-align: end !important;
}

// Expansion Panels
.v-expansion-panel:before {
  box-shadow: none;
}

.v-expansion-panel.align-items-top {
  .v-expansion-panel-header__icon {
    align-self: flex-start;
    margin-top: 0;
  }
}

.v-expansion-panel-title.no-dropdown-icon {
  .v-expansion-panel-title__icon {
    display: none;
  }
}

// loaders
.v-loader {
  color: $primary-blue;
}

// tooltips
.v-tooltip .v-overlay__content {
  width: 270px;
  background-color: RGB(73, 80, 87) !important;
  color: white !important;
  border-radius: 4px;
  font-family: "BCSans", Verdana, Arial, sans-serif !important;
  font-size: 12px !important;
  line-height: 18px !important;
  letter-spacing: 0;
  padding: 20px 16px;
}

.v-tooltip .v-overlay__content.bottom-arrow:after,
.v-tooltip .v-overlay__content.left-arrow:after,
.v-tooltip .v-overlay__content.right-arrow:after,
.v-tooltip .v-overlay__content.top-arrow:after {
  content: '' !important;
  position: absolute !important;
}

.v-tooltip .v-overlay__content.bottom-arrow:after {
  margin-bottom: -10px !important;
  top: 100% !important;
  right: 47% !important;
  border-left: 10px solid transparent !important;
  border-right: 10px solid transparent !important;
  border-top: 8px solid RGBA(73, 80, 87, 0.95) !important;
}

.v-tooltip .v-overlay__content.left-arrow:after {
  margin-left: -10px !important;
  right: 100% !important;
  top: 47% !important;
  border-bottom: 10px solid transparent !important;
  border-top: 10px solid transparent !important;
  border-right: 8px solid RGBA(73, 80, 87, 0.95) !important;
}

.v-tooltip .v-overlay__content.right-arrow:after {
  margin-right: -10px !important;
  left: 100% !important;
  top: 47% !important;
  border-bottom: 10px solid transparent !important;
  border-top: 10px solid transparent !important;
  border-left: 8px solid RGBA(73, 80, 87, 0.95) !important;
}

.v-tooltip .v-overlay__content.top-arrow:after {
  margin-top: -10px !important;
  bottom: 100% !important;
  right: 47% !important;
  border-left: 10px solid transparent !important;
  border-right: 10px solid transparent !important;
  border-bottom: 8px solid RGBA(73, 80, 87, 0.95) !important;
}

// checkboxes
.v-simple-checkbox .theme--bcgov.v-icon {
  color: $primary-blue;
}

.theme--bcgov.v-application .v-input--selection-controls__ripple,
.theme--bcgov.v-application .mdi-checkbox-blank-outline
 {
  color: $gray7 !important;
}

// v-list
.v-list.switch-account .v-list-item:not(.v-list-item--active) .v-list-item-title,
.v-list.switch-account .v-list-item:not(.v-list-item--active) .v-list-item-subtitle {
  margin-left: 33px;
}

.v-list-item {
  font-size: 0.875rem;
  padding-left: 16px;
}

.v-list-item:hover:not(.user-info) {
  background-color: $gray1;

  .v-list-item-title,
  .v-list-item-subtitle {
    color: $primary-blue;
  }
}

.v-list-item.v-list-item--active {
  background-color: $blueSelected;

  .v-list-item__overlay {
    color: transparent;
  }

  .v-list-item-title,
  .v-list-item-subtitle {
    color: $primary-blue;
  }

  .v-list-item-subtitle {
    opacity: .7;
  }
}

.v-list-item__prepend .v-icon {
  margin-inline-end: 12px;
}

.v-list-item-title {
  color: $gray7;
  font-family: "BCSans", Verdana, Arial, sans-serif !important;
  font-size: 0.875rem;
}

// v-text-fields
.theme--bcgov.v-text-field.v-input--is-disabled .v-input__slot::before {
  border-color: rgba(0, 0, 0, 0.42);
  opacity: 0.4;
  border-image: none;
}

.theme--bcgov.v-text-field--filled.v-input--is-disabled>.v-input__control>.v-input__slot {
  background: rgba(0, 0, 0, 0.04);
}

// v-snackbar
.v-snack__wrapper.theme--dark {
  background-color: $gray7;
  margin-bottom: 140px;
  width: 450px;
}
.v-snack__wrapper .v-snack__content {
  font-size: 0.875rem;
  letter-spacing: normal;
  padding: 18px 20px;
}

.snackbar-btn-close.v-btn--icon.v-size--small,
.snackbar-btn-close.v-btn--icon.v-size--small::before,
.snackbar-btn-close.v-btn--icon.v-size--small .v-icon {
  background-color: transparent;
  height: 14px;
  width: 14px;
}

// dividers
.theme--bcgov.v-divider {
  color: $gray3 !important;
  margin: 0 10px;
}

