name: REGISTRIES SEARCH SOLR CD
on:
  push:
    branches:
      - main
    paths:
      - "search-solr/bitnami/**"

  workflow_dispatch:
    inputs:
      environment:
        description: "Environment (dev/test/prod)"
        required: true
        default: "dev"

defaults:
  run:
    shell: bash
    working-directory: ./search-solr

env:
  APP_NAME: "search-solr"
  TAG_NAME: "dev"

jobs:
  search-solr-cd-by-push:
    runs-on: ubuntu-20.04

    permissions:
      contents: "read"
      id-token: "write"

    if: github.event_name == 'push' && github.repository == 'bcgov/registries-search'
    environment:
      name: "dev"

    env:
      PROJECT_ID: ${{ secrets.GCP_PROJECT_ID }}
      NEW_VERSION: ${{ GITHUB_SHA }}${{ GITHUB_RUN_ID }}${{ GITHUB_RUN_ATTEMPT }}
      ZONE: northamerica-northeast1-a

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - id: "auth"
        name: "Authenticate to Google Cloud"
        uses: google-github-actions/auth@v1
        with:
          token_format: "access_token"
          create_credentials_file: true
          activate_credentials_file: true
          workload_identity_provider: ${{ secrets.GCP_WORKLOAD_IDENTITY_PROVIDER_ID }}
          service_account: ${{ secrets.GCP_SERVICE_ACCOUNT }}
          access_token_lifetime: "3600s"

      - name: Setup - gcloud / gsutil
        uses: google-github-actions/setup-gcloud@v0
      - name: Set credentials
        run: |
          gcloud auth login --cred-file=${{steps.auth.outputs.credentials_file_path}}

      - name: Copy new solr files to GCP
        run: |
          gsutil -m rsync -R bitnami/ gs://solr-files/bitnami

      - name: Create solr base vm (instance runs startup script to get new solr files)
        run: |
          gcloud compute instances list --filter name:search-solr --sort-by NAME --format=json --project $PROJECT_ID > instances.json
          gcloud compute instances create search-solr-base-$NEW_VERSION --source-instance-template search-solr-base --zone $ZONE --project $PROJECT_ID
          sleep 120s

      - name: Create new solr image
        run: |
          gcloud compute instances stop search-solr-base-$NEW_VERSION --zone $ZONE --project $PROJECT_ID
          sleep 30s
          gcloud compute images create search-solr-$NEW_VERSION --family search-solr --source-disk search-solr-base-$NEW_VERSION --project $PROJECT_ID
          sleep 30s

      - name: Create new solr instance
        run: |
          gcloud compute instance-groups unmanaged list-instances search-solr-preload-grp-$TAG_NAME --zone=$ZONE --format=json --project $PROJECT_ID > instances_in_preload.json
          instances_in_preload=$(jq -r '.[].name' instances_in_preload.json)
          instances_to_rmv=$(instances_in_preload) | tr ' ' ,
          gcloud compute instance-groups unmanaged remove-instances search-solr-preload-grp-$TAG_NAME --zone=$ZONE --instances=$(instances_to_rmv)
          gcloud compute instance-groups unmanaged add-instances search-solr-preload-grp-$TAG_NAME --zone=$ZONE --instances=search-solr-$TAG_NAME-$NEW_VERSION

  search-solr-cd-by-dispatch:
    runs-on: ubuntu-20.04

    permissions:
      contents: "read"
      id-token: "write"

    if: github.event_name == 'workflow_dispatch' && github.repository == 'bcgov/registries-search'
    environment:
      name: "${{ github.event.inputs.environment }}"

    env:
      PROJECT_ID: ${{ secrets.GCP_PROJECT_ID }}
      NEW_VERSION: ${{ GITHUB_SHA }}${{ GITHUB_RUN_ID }}${{ GITHUB_RUN_ATTEMPT }}
      ZONE: northamerica-northeast1-a

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - id: "auth"
        name: "Authenticate to Google Cloud"
        uses: google-github-actions/auth@v1
        with:
          token_format: "access_token"
          create_credentials_file: true
          activate_credentials_file: true
          workload_identity_provider: ${{ secrets.GCP_WORKLOAD_IDENTITY_PROVIDER_ID }}
          service_account: ${{ secrets.GCP_SERVICE_ACCOUNT }}
          access_token_lifetime: "3600s"

      - name: Setup - gcloud / gsutil
        uses: google-github-actions/setup-gcloud@v0
      - name: Set credentials
        run: |
          gcloud auth login --cred-file=${{steps.auth.outputs.credentials_file_path}}

      - name: Copy new solr files to GCP
        run: |
          gsutil -m rsync -R bitnami/ gs://solr-files/bitnami

      - name: Create solr base vm (instance runs startup script to get new solr files)
        run: |
          gcloud compute instances list --filter name:search-solr --sort-by NAME --format=json --project $PROJECT_ID > instances.json
          gcloud compute instances create search-solr-base-$NEW_VERSION --source-instance-template search-solr-base --zone $ZONE --project $PROJECT_ID
          sleep 120s

      - name: Create new solr image
        run: |
          gcloud compute instances stop search-solr-base-$NEW_VERSION --zone $ZONE --project $PROJECT_ID
          sleep 30s
          gcloud compute images create search-solr-$NEW_VERSION --family search-solr --source-disk search-solr-base-$NEW_VERSION --project $PROJECT_ID
          sleep 30s
      - name: Create new solr instance
        run: |
          gcloud compute instance-groups unmanaged list-instances search-solr-preload-grp-$TAG_NAME --zone=$ZONE --format=json --project $PROJECT_ID > instances_in_preload.json
          instances_in_preload=$(jq -r '.[].name' instances_in_preload.json)
          instances_to_rmv=$(instances_in_preload) | tr ' ' ,
          gcloud compute instance-groups unmanaged remove-instances search-solr-preload-grp-$TAG_NAME --zone=$ZONE --instances=$(instances_to_rmv)
          gcloud compute instance-groups unmanaged add-instances search-solr-preload-grp-$TAG_NAME --zone=$ZONE --instances=search-solr-$TAG_NAME-$NEW_VERSION
