name: SEARCH UI CD

on:
  push:
    branches:
      - main
    paths:
      - "search-ui/**"
  workflow_dispatch:
    inputs:
      environment:
        description: "Environment"
        required: true
        type: choice
        options:
          - "dev"
          - "test"
          - "sandbox"
          - "prod"
      redeploy:
        description: "Redeploy Application"
        required: true
        type: choice
        options:
          - "false"
          - "true"

jobs:
  search-ui-cd:
    uses: bcgov/bcregistry-sre/.github/workflows/frontend-cd.yaml@main
    with:
      target: ${{ inputs.environment }}
      node_version: "18.16.0"
      app_name: "registries-search-ui"
      working_directory: "search-ui"
      redeploy: ${{ inputs.redeploy }}
      cd_runner_version: "1.0.4"
    secrets:
      WORKLOAD_IDENTIFY_POOLS_PROVIDER: ${{ secrets.WORKLOAD_IDENTIFY_POOLS_PROVIDER }}
      GCP_SERVICE_ACCOUNT: ${{ secrets.GCP_SERVICE_ACCOUNT }}
