# Web Urls
NUXT_PUBLIC_BASE_URL="http://localhost:3000/"
NUXT_PUBLIC_REGISTRY_HOME_URL="https://dev.bcregistry.gov.bc.ca/"
NUXT_PUBLIC_AUTH_WEB_URL="https://dev.account.bcregistry.gov.bc.ca/"
NUXT_PUBLIC_REGISTRY_URL="https://dev.bcros.ca/dashboard"
NUXT_PUBLIC_BUSINESS_DASH_URL="https://dev.business-dashboard.bcregistry.gov.bc.ca/"
NUXT_PUBLIC_REGISTRIES_SEARCH_URL="https://dev.search.business.bcregistry.gov.bc.ca"
NUXT_PUBLIC_BCONLINE_URL="https://d1.bconline.gov.bc.ca/"

# API Key
NUXT_PUBLIC_X_API_KEY=""

# API Urls
# Status API
NUXT_PUBLIC_STATUS_API_URL="https://status-api-dev.apps.gold.devops.gov.bc.ca"
NUXT_PUBLIC_STATUS_API_VERSION="/api/v1"

# Auth API
NUXT_PUBLIC_AUTH_API_URL="https://test.api.connect.gov.bc.ca/auth-dev"
NUXT_PUBLIC_AUTH_API_VERSION="/api/v1"

# Pay API
NUXT_PUBLIC_PAY_API_URL="https://test.api.connect.gov.bc.ca/pay-dev"
NUXT_PUBLIC_PAY_API_VERSION="/api/v1"

# Person Search API
NUXT_PUBLIC_BOR_API_URL="https://test.api.connect.gov.bc.ca/director-search-dev"
NUXT_PUBLIC_BOR_API_VERSION="/api/v1"
NUXT_PUBLIC_BOR_API_KEY=""

# Business Search API
NUXT_PUBLIC_REGISTRIES_SEARCH_API_URL="https://test.api.connect.gov.bc.ca/registry-search-dev"
NUXT_PUBLIC_REGISTRIES_SEARCH_API_VERSION="/api/v1"
NUXT_PUBLIC_REGISTRIES_SEARCH_API_VERSION2="/api/v2"
NUXT_PUBLIC_REGISTRIES_SEARCH_API_KEY=""

# LaunchDarkly
NUXT_PUBLIC_LD_CLIENT_ID=""

# Identity Provider
NUXT_PUBLIC_IDP_URL="https://dev.loginproxy.gov.bc.ca/auth"
NUXT_PUBLIC_IDP_REALM=""
NUXT_PUBLIC_IDP_CLIENTID=""
NUXT_PUBLIC_SITEMINDER_LOGOUT_URL="https://logontest7.gov.bc.ca/clp-cgi/logoff.cgi"

#google analytic
NUXT_PUBLIC_GTAG_ID=""
NUXT_PUBLIC_GTAG_DEBUG=""
NUXT_PUBLIC_GTM_ID=""